.navbar {
	background-color: white;
	height: 70px;
	font-size: 25px;
	font-family: 'Cabin Sketch', cursive;
}

#PriceItLogo {
	margin-top: -25px;
margin-left: -180px;
}

#username-input,
#email-input,
#password-input {
	align-self: auto;
}

.input-group-addon,
.btn,
.jumbotron,
footer {
	color: white;
	background-color: #3e4246;
	font-family: 'Cabin Sketch', cursive;
}

.btn:hover {
	color: white;
	background-color: #5e5e5e;
}

.input-group,
.form-control {
	width: 45%;
}
 
.paragraphs {
	font-family: 'Cabin Sketch', cursive;
	font-size: 20px;

}

footer {
	position: fixed;
	height: 5%;
	bottom: 0;
	width: 100%;
}

.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before,
.carousel-indicators {
	color: black;
}
/* the carousel is built around the images displayed in eBay's carousel. The images are 64px X 64px to display 5 images we need a width of 320px */
.carousel {
	width: 320px;
	height: 64px;
}

.carousel-inner{
	height: 15vh;
}

.ebay-div, .walmart-div, .amazon-div {
	padding: 0 10px 10px 10px;
	margin-bottom: 50px;
	border: 3px dashed #ccc;
	margin: 5px 10px;
}