.navbar {
	background-color: white;
	height: 70px;
	font-size: 25px;
	font-family: 'Cabin Sketch', cursive;
}

.navbar-header {
	height: 100%;
}

.nav-container {
	height: 100%;
}

.navbar-collapse {
	background-color: white;
}

#PriceItLogo {
	margin-top: -25px;

}

#username-input,
#email-input,
#password-input {
	align-self: auto;
}

.input-group-addon,
.btn,
.jumbotron,
footer {
	color: white;
	background-color: #3e4246;
	font-family: 'Cabin Sketch', cursive;
}

.btn:hover {
	color: white;
	background-color: #5e5e5e;
}

.input-group,
.form-control {
	width: 45%;
}
 
.paragraphs,
p {
	font-family: 'Cabin Sketch', cursive;
	font-size: 20px;

}

footer {
	position: fixed;
	height: 5%;
	bottom: 0;
	width: 100%;
	margin-top: 10px!important;
}

.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before,
.carousel-indicators {
	color: black;
}

.carousel-inner{
	height: 15vh;
}

.discount-container {
margin-left: 10px;
width: 15%;
}