.navbar {
	background-color: white;
	height: 70px;
	font-size: 25px;
	font-family: 'Cabin Sketch', cursive;
}

#loginButton,#signoutButton,#registerButton,#accountButton {
	display: none;
}

.navbar-header {
	height: 100%;
}

.nav-container {
	height: 100%;
}

.navbar-collapse {
	background-color: white;
}

#PriceItLogo {
	margin-top: -25px;

}

#username-input,
#email-input,
#password-input {
	align-self: auto;
}

.input-group-addon,
.btn,
.jumbotron,
footer {
	color: white;
	background-color: #3e4246;
	font-family: 'Cabin Sketch', cursive;
}

.btn:hover {
	color: white;
	background-color: #5e5e5e;
}

.input-group,
.form-control {
	width: 45%;
}
 
.paragraphs,
p,
h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 20px;

}

footer {
	position: fixed;
	bottom: 0;
	height: 5%;
	bottom: 0;
	width: 100%;
	margin-top: 10px!important;
}

.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before,
.carousel-indicators {
	color: black;
}

.carousel-inner{
	height: 15vh;
}

.ebay-div, .walmart-div, .amazon-div {
	padding: 0 10px 10px 10px;
	border: 3px dashed #ccc;
	margin: 5px 10px;
}

#ebay-container, #walmart-container, #amazon-container, #discount-container {
	margin-bottom: 50px;
}
p.hide-me {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

P.show-me {
	white-space: normal;
	overflow: visible;
	text-overflow: unset;
	max-width: 1000px;
}

#item-desc:hover{
	cursor: pointer;
}
